<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UGAAMUX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div>
        <h1 class="header">
            <b>UGAAMUX</b>
            <img src="/images/flag-round.png" width="32px" height="28px" />
        </h1>
        <p id="welcome-Home"><b>Welcome to the home of Ugandan Art</b></p>
    </div>

    <div id="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="Solo">Solo Artists</a></li>
            <li><a href="Bands">Bands</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Performers">Performing Artists</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
        </ul>
    </div>

    <div id="slider-aboutUs">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/NUWA1.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="/images/stage.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="/images/culture.jpg" class="d-block w-100" alt="..." />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
    <div>
        <p>
            UGAAMUX platiform is aiming at bringing all Ugandan content creators with their content in one place
        </p>
    </div>

    <div class="footer">
        <h3>Music artists, bands, comedians, labels all in one place</h3>
        <p>
            The best platiform for all Ugandan Entertainers and their content, We have you covered!
            <br /> Email Us On: ugamax@gmail.com<br /> or visit our website on www.ugamux.ug.org
        </p>
    </div>

    <script src="/public/js/bootstrap.min.js"></script>
</body>

</html>