html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    
    link(rel='stylesheet' href='/css/forms.css')
  body#artistbody
    h3 Artist Registration Form
    form#ArtistRegform(action='/SoloArtists' method='POST' , enctype='multipart/form-data' name='register')
      .row
        .column
          li
            label#StageNameID(for='stagename') Stage Name:
            br
            br
            input#frm-inner-style(type='text' name='StageName')
            small#stageNameError
          li
            li
              label ArtistID:
            li
              input#frm-inner-style(type='text' name='ArtId')
            small#IDError
          li
            li
              label Password:
            li
              input#frm-inner-style(type='text' name='pass')
            small#passError
          li
            li
              label Date of Birth:
            li
              input#frm-inner-style(type='date' name='DateOfBirth')
            small#DOBError
          li
            li
              label First Name:
            li
              input#frm-inner-style(type='text' name='FirstName')
            small#FNError
          li
            li
              label Last Name:
            li
              input#frm-inner-style(type='text' name='LastName')
            small#LNError
          li
            li
              label NIN Number:
            li
              input#frm-inner-style(type='text' name='NIN')
            small#NINError
          li
            label Profile Photo:
          li
            input#image(type='file' name='profile_photo' placeholder='Select a Photo' required='' capture)
          li
            label(for='usergender') Gender :
            br
            br
            input#msex(type='radio' name='sex' value='male')
            span Male
            br
            input#fsex(type='radio' name='sex' value='female')
            span Female
            small#genderError
          li
            li
              label(for='Artist location') Location:
            li
              input#frm-inner-style(type='text' name='location')
            small#locationError
          li
            li
              label(for='emailAddress')  Email Address:
            li
              input#frm-inner-style(type='text' name='Artistemail')
            small#emailError
          li
            label Phone Number:
          li
            input#frm-inner-style(type='tel' name='Contact')
          small#contactError
        .column
          li
            label Mangement:
            li
              input(type='radio' name='management1' value='Label')
              label  Under a music label
              br
            li
              input(type='radio' name='management2' value='Manager')
              label  I have a manager
              br
            li
              input(type='radio' name='management3' value='None')
              label  i am self managing
              br
            span#managementError
          li
            li
              label Label/Manager's Name:
            li
              input#frm-inner-style(type='text' name='Manager')
            small#managerError
          li
            li
              label Date of Start:
            li
              input#frm-inner-style(type='date' name='DateOfStart')
            small#DOSError
          li
            label(for='Music category') Music Category:
          li
            select#frm-inner-style(name='musicCategory')
              option(selected='' value='Default')
              option(value='Kadongo') Kadongo Kamu
              option(value='DH') Dance Hall
              option(value='Rg') Raggae
              option(value='Gospel') Gospel
              option(value='AH') Afro-House
              option(value='kidandali') kidandali
              small#musicatError
          li
            li
              label Specify if any other:
            li
            input#frm-inner-style(type='text' name='SpecifyCategory')
          small#specifycatError
          li
            li
              label Number of Albums:
            li
              input#frm-inner-style(type='text' name='NumberOfAlbums')
            small#NoAlbumsError
          li
            li
              label Number of Songs:
            li
              input#frm-inner-style(type='text' name='NumberOfSongs')
            small#NosongsError
          li
            li
              label Number of Awards:
            li
              input#frm-inner-style(type='text' name='NumberOfAwards')
            small#NoAwardsError
          li
            li
              label(for='descript') Something About Yourself :
            li
              textarea#frm-inner-style(name='descrip')
            small#descriptionError
          li
            input#submit-btn(onclick='validate()' type='submit' name='submitbtn' value='Submit')
            input#reset-btn(type='reset' name='reset' value='Reset ')
    script(src='/js/validateArtistregForm.js')
    script(src='/js/bootstrap.js')
