<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UGAAMUX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="container">
        <div class="row" id="header-row">
            <div class="col-4">
                <h2 class="header">
                    <img src="/images/note.jpg" width="32px" height="32px" />
                    <i><b>UgaaMux</b></i>
                    <img src="/images/flag-round.png" width="32px" height="28px" />
                </h2>
            </div>

            <div class="col-8" id="nav-bar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="Solo">Solo Artists</a></li>
                    <li><a href="Bands">Bands</a></li>
                    <!-- <li><a href="AboutUs">About Us</a></li> -->
                    <li><a href="Performers">Performing Artists</a></li>
                    <li><a href="ContactUs">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img src="/images/afrigo.jpg" class="card-img-top" alt="... " height="280px" />
                        <div class="card-body">
                            <p class="card-text">
                                <h4>Afrigo Band</h4>
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <img src="/images/bandgafla.jpg" class="card-img-top" alt="... " height="280px" />
                        <div class="card-body">
                            <p class="card-text">
                                <h4>Gafla Band</h4>
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="/images/bandivuga.jpg " class="card-img-top" alt="... " height="280px" />
                        <div class="card-body">
                            <p class="card-text">
                                <h4>Ivuga Band</h4>
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img src="/images/golden.jpg" class="card-img-top" alt="... " height="280px" />
                        <div class="card-body">
                            <p class="card-text">
                                <h4>Golden Band</h4>
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="/images/bandfusion.jpg" class="card-img-top" alt="... " height="280px" />
                        <div class="card-body">
                            <p class="card-text">
                                <h4>Fusion Band</h4>
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="/images/bandjanzi.jpg" class="card-img-top" alt="... " height="280px" />
                        <div class="card-body">
                            <p class="card-text">
                                <h4>Janzi Band</h4>
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>
                The best platiform for all Ugandan Entertainment content, We have you covered!
                <br /> Email Us On: ugamax@gmail.com<br /> or visit our website on www.ugamux.ug.org
            </p>
        </div>
    </div>
    <script src="/js/bootstrap.js.min"></script>
</body>

</html>