html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title UGAAMUX
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/styles.css')
  body
    .container
      #header-row.row
        .col-4
          h2.header
            img(src='/images/note.jpg' width='32px' height='32px')
            i
              b UgaaMux
            img(src='/images/flag-round.png' width='32px' height='28px')
        #nav-bar.col-8
          ul
            li
              a(href='/') Home
            li
              a(href='Solo') Solo Artists
            li
              a(href='Bands') Bands
            // <li><a href="AboutUs">About Us</a></li>
            li
              a(href='Performers') Performing Artists
            li
              a(href='ContactUs') Contact Us
    #contactUsCont
      p#para1
        b The home of Ugandan Entertainment
      br
      img(src='public/images/fewartists.jpg')
      p
        b Located:
        br
        | Namungoona National Housing
      p
        b  Email Us:
        br
        | ugamax@gmail.com
        br
        | or visit our website on www.ugamux.ug.org
        br
        b Contacts:
        br
        | +414-784-265-112
        br
        | +256-784-080-18
        br
        | +256-701-555-018
        br
      h4
        b Message us
      form
        li
          label(for='username')  Name:
          input(type='text' name='username')
        li
          label(for='useremail') Email :
        li
          input(type='text' name='email' size='15')
        li
          label(for='descript') Message :
        li
          textarea(name='descrip')
        br
        li
          input(type='submit' name='submitbtn' value='Submit')
          input(type='reset' name='reset' value='Reset ')
        br
        br
        br
    .footer
      p
        | The best platiform for all Ugandan Entertainment content, We have you covered!
        br
        | Email Us On: ugamax@gmail.com
        br
        | or visit our website on www.ugamux.ug.org
    script(src='/js/bootstrap.js.min')
