<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/forms.css" />
</head>

<body>
    <h3>Band Form</h3>

    <form action="" method="POST" name="Bandform"></form>
    <li><label for="bdname">Band Name:</label></li>
    <li><input type="text" name="BandName" size="45" id="frm-inner-style" /></li>

    <li><label for="bdid">BandID:</label></li>
    <li><input type="text" name="BandId" size="45" id="frm-inner-style" /></li>

    <li><label for="">Band Password:</label></li>
    <li><input type="text" name="passid" size="45" id="frm-inner-style" /></li>

    <li><label for="BandSlogan">Band Slogan:</label></li>
    <li><input type="text" name="BandSlogan" size="60" id="frm-inner-style" /></li>

    <li><label for="BandOwner">Band Owner(s):</label></li>
    <li><input type="text" name="BandOwner" size="45" id="frm-inner-style" /></li>

    <li><label for="BandHome">Band Home:</label></li>
    <li><input type="text" name="BandHome" size="45" id="frm-inner-style" /></li>

    <li><label for="members">Number of members:</label></li>
    <li> <input type="text" name="members" id="frm-inner-style" /></li>

    <li><label for="Bandemail"> Band Email :</label></li>
    <li><input type="text" name="Bandemail" size="45" id="frm-inner-style" /></li>

    <li><label>Band Contact:</label></li>
    <li><input type="tel" name="BandContact" id="frm-inner-style" /></li>

    <li><label>Profile Photo:</label></li>
    <li><input id="image" type="file" name="profile_photo" placeholder="Select a Photo" required="" capture></li>

    <li><label>Band Icon:</label></li>
    <li><input id="image" type="file" name="profile_photo" placeholder="Select a Photo" required="" capture></li>

    <li><label>Date of formation:</label></li>
    <li><input type="date" name="DateOfFormation" id="frm-inner-style" /></li>

    <li><label for="Music category">Music Category:</label></li>
    <li>
        <select name="musicCategory" id="frm-inner-style">
            <option selected="" value="Default">
            </option>
            <option value="Kadongo">Kadongo Kamu</option>
            <option value="DH">Dance Hall</option>
            <option value="Rg">Raggae</option>
            <option value="Gospel">Gospel</option>
            <option value="AH">Afro-House</option>
            <option value="kidandali">kidandali</option>
          </select></li>

    <li><label>Specify if any other:</label></li>
    <li></li><input type="text" name="SpecifyCategory" id="frm-inner-style" /></li>

    <li><label>Number of Albums:</label></li>
    <li><input type="text" name="NumberOfAlbums" id="frm-inner-style" /></li>

    <li><label for="descript">Band Desciption :</label></li>
    <li><textarea name="descrip" id="frm-inner-style"></textarea></li>


    <li>
        <input type="button" name="submitbtn" value="Submit" />
        <input type="reset" name="reset" value="Reset " />
    </li>

    </form>
</body>

</html>