<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UGAAMUX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body id="over-all">
    <div class="container">
        <div class="row" id="header-row">
            <div class="col-4">
                <h2 class="header">
                    <img src="/images/note.jpg" width="32px" height="32px" />
                    <i><b>UgaaMux</b></i>
                    <img src="/images/flag-round.png" width="32px" height="28px" />
                </h2>
            </div>

            <div class="col-8" id="nav-bar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="Solo">Solo Artists</a></li>
                    <li><a href="Bands">Bands</a></li>
                    <!-- <li><a href="AboutUs">About Us</a></li> -->
                    <li><a href="Performers">Performing Artists</a></li>
                    <li><a href="ContactUs">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row" id="mid-index">
            <div class="col-6" id="home-side">
                <p id="welcome-Home">
                    <b>Welcome to<br />
              the home of <br />Ugandan Art</b
            >
          </p>
        </div>
        <div class="col-6">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="/images/fewartists.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="300px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/images/baninas.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="300px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/images/Alexcommedy.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="300px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/images/re.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="300px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/images/b2c.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="300px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/images/stage.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="300px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <img src="/images/piano.jpg" id="welcome-image" /> -->

      <div id="welcome-image">
        <div class="row">
          <div class="col-4" style="height: 560px">
            <div class="card" style="width: 18rem">
              <img
                src="/images/apass.jpg"
                class="card-img-top"
                alt="..."
                height="290px"
                width="310px"
              />
              <div class="card-body">
                <p class="card-text">
                  <a href="/Solo"
                    ><h3><b style="color: yellow">SoloArtists</b></h3>
                    </a>
                    For a musician, we store and market all your music out here! The fans....music addicts, this is the best platiform for your playlists and all your favourite artists
                </p>
            </div>
        </div>
    </div>
    <div class="col-4" style="height: 560px">
        <div class="card" style="width: 18rem">
            <img src="/images/afrigoband.jpg" class="card-img-top" alt="..." height="290px" width="310px" />
            <div class="card-body">
                <p class="card-text">
                    <a href="/Bands">
                        <h3><b style="color: black">Ugandan Bands</b></h3>
                    </a>
                    For the lover's of band music out there, yeeyyy... we got you covered! for all the Ugandan music bands are here to take your soul home!<br /> Let's keep lively
                </p>
            </div>
        </div>
    </div>
    <div class="col-4" style="height: 560px">
        <div class="card" style="width: 18rem">
            <img src="/images/write.jpg" class="card-img-top" alt="..." height="290px" width="320px" />
            <div class="card-body">
                <p class="card-text">
                    <a href="Performers">
                        <h3><b style="color: red">Performers</b></h3>
                    </a>
                    Script writers, Novelists, documentary creators, music composers, dancers...... all lots of performing artists here. Come spend your recreation time here!.
                </p>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="footer">
        <p>
            The best platiform for all Ugandan Entertainment content, We have you covered!
            <br /> Email Us On: ugamax@gmail.com<br /> or visit our website on www.ugamux.ug.org
            <a href="/loginpage">Login</a>
        </p>
    </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
</body>

</html>