<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UGAAMUX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>
    <div class="header">
        <h1>UGAA-MUX PLATIFORM</h1>

        <p>
            <h4>Welcome!</h4><br />Please login if you alredy have an account</p>
        <form action="" method="post">
            <div class="container">
                <label for="username"><b>Email Address</b></label>
                <input type="text" placeholder="Username" name="username" required /><br /><br/>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Password" name="userpass" required /><br /><br/>

                <a href="Registration">Login</a>
                <label>
          
        </label>
        </form>
</body>

</html>