
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/forms.css')
h3 Performing Artists Registration Form
form#ArtistRegform(action='' method ='POST' name='performingForm')
ul
  li
    label(for='Performers') Performing Artist:
  li
    select#frm-inner-style(name='Category')
      option(selected='' value='Default')
      option(value='Commedy') Comedian
      option(value='D-C') Dcumentary Creator
      option(value='Drama') Dramatist
  li
    label#StageNameID(for='stagename') Stage Name:
  li
    input#frm-inner-style(type='text' name='StageName' size='45')
  small
  li
    label ArtistID:
  li
    input#frm-inner-style(type='text' name='ArtId' size='45')
  li
    label Password:
  li
    input#frm-inner-style(type='text' name='passid' size='45')
  li
    label Date of Birth:
  li
    input#frm-inner-style(type='date' name='DateOfBirth')
  li
    label First Name:
  li
    input#frm-inner-style(type='text' name='FirstName' size='45')
  li
    label Last Name:
  li
    input#frm-inner-style(type='text' name='LastName' size='45')
  li
    label NIN Number:
  li
    input#frm-inner-style(type='text' name='NIN')
  li
    label Profile Photo:
  li
    input#image(type='file' name='profile_photo' placeholder='Select a Photo' required='' capture='')
  li
    label(for='usergender') Gender :
    br
    input#msex(type='radio' name='sex' value='male')
    span Male
    br
    input#fsex(type='radio' name='sex' value='female')
    span Female
    small#genderError
  li
    label(for='Artist location') Location:
  li
    input#frm-inner-style(type='text' name='location')
  li
    label(for='emailAddress')  Email Address:
  li
    input#frm-inner-style(type='text' name='Artistemail' size='45')
  li
    label Phone Number:
  li
    input#frm-inner-style(type='tel' name='Contact')
  li
    label Mangement:
  li
    input(type='checkbox' name='management1' value='Label')
    label  Under a management company
    br
  li
    input(type='checkbox' name='management2' value='Manager')
    label  I have a manager
    br
  li
    input(type='checkbox' name='management3' value='None')
    label  i am self managing
    br
  li
    label Label/Manager&apos;s Name:
  li
    input#frm-inner-style(type='text' name='Manager')
  li
    label Date of Start:
  li
    input#frm-inner-style(type='date' name='DateOfStart')
  li
    label Number of works:
  li
    input#frm-inner-style(type='text' name='NumberOfskits')
  li
    label Awards if any:
  li
    input#frm-inner-style(type='text' name='NumberOfAwards')
  li
    label(for='descript') Desciption :
  li
    textarea#frm-inner-style(name='descrip')
  li
    input(type='submit' name='submitbtn')
    input(type='reset' name='reset' value='Reset ')
