<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/css/forms.css" />
</head>

<body id="regFormbody">
    <div id="form-bg">
        <form>
            <h3>Register Here</h3>
            <div id="form-style">
                <a href="/SoloArtists "><input type="button" id="form-style-inner" name="art" value="Register Solo Artist " /></a>
            </div>
            <div id="form-style">
                <a href="/BandsRegistration "><input type="button" id="form-style-inner" name="bnd" value="Register a Band " /></a>
            </div>
            <div id="form-style">
                <a href="performingArtists "><input type="button" id="form-style-inner" name="P-art" value="Register a Perfoming Artist " /></a>
            </div>
            <div id="form-style">
                <a href="/loginpage"><input type="button" name="return" value="Back" /></a>
                <a href="/artsitList"><input type="button" name="dash" value="Dashbord" /></a>
            </div>
        </form>
    </div>
</body>

</html>