<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UGAAMUX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div>
        <h1 class="header">
            <b>UGAAMUX</b>
            <img src="/images/flag-round.png" width="32px" height="28px" />
        </h1>
        <p id="welcome-Home"><b>Welcome to the home of Ugandan Art</b></p>
    </div>

    <div id="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="Solo">Solo Artists</a></li>
            <li><a href="Bands">Bands</a></li>
            <!-- <li><a href="AboutUs">About Us</a></li> -->
            <li><a href="Performers">Performing Artists</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-3-md">
            <div class="card">
                <img src="/images/spiceDiana.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3-md">
            <div class="card">
                <img src="/images/jonblaq.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3-md">
            <div class="card">
                <img src="/images/Sheebah-Karungi-Baby.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3-md">
            <div class="card">
                <img src="/images/chameleon.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>
            The best platiform for all Ugandan Entertainment content, We have you covered!
            <br /> Email Us On: ugamax@gmail.com<br /> or visit our website on www.ugamux.ug.org
        </p>
    </div>
    </div>

    <script src="/js/bootstrap.js.map"></script>
</body>

</html>