* {
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    /* font-size: large;
    font-weight: bolder; */
    /* background-color: rgb(226, 168, 43); */
}

form {
    background-color: white;
    width: 300px;
    margin: auto;
}

li {
    list-style: none;
}

#submit-btn {
    background-color: green;
}

#reset-btn {
    background-color: red;
}

#frm-inner-style {
    font-weight: bold;
    margin: auto;
    background-color: white;
    border-left: 1px solid black;
    padding-top: 3px;
}

#artistbody {
    width: 80%;
    background-image: url(/images/bg-artist.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#ArtistRegform {
    background-color: cornflowerblue;
    width: 60%;
    position: relative;
    overflow: auto;
}

#bandbody {
    width: 80%;
    border-radius: 40%;
    background-image: url(/images/bg-guitre.jpg);
    background-size: cover;
}

#Bandform {
    background-color: rgb(230, 184, 84);
    width: 60%;
    position: relative;
    overflow: auto;
}

#perfbody {
    background-image: url(/images/backgroond.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
}

#peformingRegform {
    background-color: rgb(196, 136, 181);
    width: 60%;
    position: relative;
    overflow: auto;
}


/* styling my registration pages */

#regFormbody {
    background-image: url(/public/images/backgroond.jpeg);
}

#form-bg {
    background-color: rgb(77, 58, 58);
    width: 350px;
    margin: auto;
}

#form-style {
    width: 280px;
    height: 70px;
    background-color: rgb(223, 223, 231);
    border: 0.5pt solid rgb(223, 2, 231);
    margin: 2px;
}

#form-style-inner {
    margin: auto;
    width: 250px;
    height: 50px;
    background-color: white;
    border-right: none;
    border-top: none;
    border-left: 1px solid black;
    border-bottom: none;
}


/* //dividing form */

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: '';
    display: table;
    clear: both;
}