* {
    padding: 10px;
    margin: auto;
    background-color: rgb(226, 168, 43);
}

form {
    /* background-color: white; */
    width: 300px;
    margin: auto;
}

li {
    list-style: none;
}

#frm-inner-style {
    margin: auto;
    background-color: white;
    border-left: 1px solid black;
    padding-top: 3px;
}

#ArtistRegform {
    background-color: cornflowerblue;
}