* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.header {
    font-style: italic;
    text-align: left;
    background-color: #333;
    color: rgb(219, 190, 23);
    height: 70px;
    width: auto;
}

#header-row {
    background-color: #333;
    width: auto;
}

#card-style {
    width: fit-content;
    margin: auto;
}

#home-side {
    background-image: url(/images/bg-guitre2.jpg);
    background-size: cover;
    height: '300px';
}

#welcome-Home {
    font-style: italic;
    font-size: 40px;
    color: red;
    float: none;
}

#welcome-image {
    background-image: url('/images/piano.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#nav-bar {
    background-color: #333;
    height: 70px;
    text-align: center;
    width: 66%;
    /* position: fixed; */
    /* z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden; */
}


/* Style the links inside the navigation bar */

#nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 15px;
}


/* Change the color of links on hover */

#nav-bar a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #04aa6d;
    color: white;
}

#heading1 {
    background-color: goldenrod;
    font-size: 30px;
    color: white;
}


/* body {
    background-image: url('/public/images/piano.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} */

li {
    list-style: none;
    margin: auto;
    float: left;
    padding: 20px;
}

.slider {
    width: auto;
}

#slider-aboutUs {
    height: 800px;
    width: 600;
}

.footer {
    padding: 10px;
    text-align: center;
    background: rgb(218, 32, 141);
    color: white;
    height: 80px;
    width: auto;
}


/* contactus.html */

#contactUsCont {
    width: auto;
    background-color: rgb(226, 168, 43);
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-decoration-color: chartreuse;
}

#para1 {
    color: rgb(0, 26, 255);
    align-content: center;
    font-style: italic;
    font-size: large;
}


/* soloArtist.html */


/* #soloData {
    width: auto;
    align-items: center;
} */


/* login page */

#login-body {
    width: auto;
    height: 500px;
    background-image: url('/images/mic.jpg');
    background-size: cover;
    padding: 0px;
}